*{
    margin: 0;
    padding: 0;
}

:root{
    /* color */
    --color-1: #1B2326;
    --color-2: #3A4F52;
    --color-3: #10F5CC;
    --color-4: #F5FEFD;
    --color-5: #2e1792;

    /* gradient */
    --gradient-1: linear-gradient(to right, #00c6ff, #0072ff);
    --gradient-2: linear-gradient(to right, #005ebd, #021b79);
    --gradient-3: linear-gradient(to right, #000428, #004e92);
    --gradient-4: linear-gradient(to right, #2e1792, #1E0E5E);
}

.color-1{
    color: var(--color-1);
}
.color-2{
    color: var(--color-2);
}
.color-3{
    color: var(--color-3);
}
.color-4{
    color: var(--color-4);
}
.color-5{
    color: var(--color-5);
}

.bg-1{
    background-color: linear-gradient(to right, #2e1792, #1f0e5f);
}

.nav-main{

}

.jumbotron {
    background: var(--gradient-4);
    padding: 2rem;
    color: white;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

.jumbotron:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    ;
}

.card-1{
    margin-right: 0px;
    margin-left: 0px;
    box-shadow: rgba(149, 157, 165, 0.116) 0px 8px 24px;
    background-color: white;
    border-radius: 10px;
}


